* {
  margin: 0px;
  padding: 0px;
}
h1 {
  text-align: center;
  margin-bottom: 50px !important;
  color: dodgerblue !important;
  font-weight: bolder !important;
  text-shadow: 2px 2px  lightgray !important;
  font-weight: bolder !important;
}
.h2{
  text-align: center;
  color: #444 !important;

}
.description{
  text-align: justify;
}

.image-main{
  border: 2px solid red;
  width: 100%;
  height: 200px;
}
.image-main>img{
  width: 100%;
  height: 100%;
}