* {
  margin: 0px;
  padding: 0px;
}
h1 {
  text-align: center;
  margin-bottom: 50px !important;
  color: orange !important;
  font-weight: bolder !important;
  text-shadow: 2px 2px  lightgray !important;
  font-weight: bolder !important;
}
/* .row > div {
  border: 1px solid white;
  background-color: indigo;
  color: white;
  font-weight: bolder;
  font-size: larger;
  text-align: center;
} */
